/* First we need to import the variables sass file */
/* We also want to reset the margin and padding and add global settings */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*font-family: 'Kaushan Script', cursive;*/
  font-family: 'Dancing Script', cursive;
}

/* Now we can begin!! */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 40px;
  background-color: #131212;
  color: #DCD5D5;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 150px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 40px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 0px 20px 0px;
  text-decoration: none;
  color: #DCD5D5;
}

nav ul li a:hover {
  background-color: #DCD5D5;
  color: #131212;
}

.homePage {
  height: 100vh;
  background-color: #131212;
}

.homePage h1 {
  text-decoration: none;
  letter-spacing: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  color: #DCD5D5;
  top: 100px;
  font-size: 65px;
}

.homePage a {
  position: relative;
  bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage a img {
  width: 500px;
}

.homePage a img:hover {
  opacity: 0.8;
}

.productsPage {
  height: 100vh;
  width: 100%;
  background-color: #131212;
}

.productsPage h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 65px;
  color: #DCD5D5;
}

.howToOrderPage {
  height: 100vh;
  background-color: #131212;
}

.howToOrderPage h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 65px;
  color: #DCD5D5;
}

.howToOrderPage p {
  position: relative;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 80px 0px;
  color: #DCD5D5;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}
/*# sourceMappingURL=styles.css.map */